<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h2>{{message}}</h2>
    <!-- 单选 -->
    <select v-model="fruit">
      <option value="apple">APPLE</option>
      <option value="banana">BANANA</option>
      <option value="orange">ORANGE</option>
      <option value="watermelon">WATERMELON</option>
    </select>
    <h3>您选择的是：{{fruit}}</h3>

    <!-- 多选：mutiple -->
    <!-- 按住ctrl键选择多个 -->
    <select v-model="fruits" multiple>
      <option value="apple">APPLE</option>
      <option value="banana">BANANA</option>
      <option value="orange">ORANGE</option>
      <option value="watermelon">WATERMELON</option>
    </select>
    <h3>您选择的是：{{fruits}}</h3>
  </div>
  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue({
      el:'#app',
      data:{
        message:'HELLO WORLD!',
        fruit:'',
        fruits:[]
      }
    })
  </script>
</body>
</html>